body {
    background-color: grey;
}

section {
    margin: auto;
}

.gallery {
    padding: 0;
}

.gallery li{
    border: 3px solid black;
    background-color: white;
    padding: 5px;
    display: inline-block;
    width: 28%;
    vertical-align: middle;
    margin: 3px;
}

.gallery li img {
    width: 100%;
}