@{
    ViewData["Title"] = "Create PositionId";
}
<h1 class="text-center">Create PositionId</h1>
<hr class="bg-secondary half-width" />
<form class="mx-auto half-width" asp-controller="Positions" asp-action="Create" method="post">
    <div class="form-group">
        <label for="positionName">PositionId Name</label>
        <input type="text" class="form-control" id="positionName" placeholder="PositionId Name..." name="positionName">
    </div>
    <hr class="bg-secondary half-width" />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn ">Create</button>
        <button type="submit" class="btn btn-primary" asp-controller="Positions" asp-action="All">View All</button>
    </div>
</form>